@import "_zero";
// $ 400, 700 font-family: 'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
// $ 300 400 font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
// $ 400 font-family: 'Kaushan Script', cursive;
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
// $  Независимые классы
.container {
    max-width: 1300px;
    margin: 0 auto;
}
// ! Стили для заголовков
%body {
    color: #333333;
    text-align: center;
    margin: 0 auto;
}
%sup-title {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    line-height: 1.2;
}
%title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
%sub-text {
    display: inline-block;
    margin: 30px 0 80px 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}
// ! ----------------------
.mini-title {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    color: #333333;
}
.transparent-small-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #999999;
}
.line-red {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-ai-cnt {
    display: flex;
    align-items: center;
}
.flex-cnt {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
// $ Миксины и шаблоны

// ! Сборка всех файлов
@import "main/_welcome.scss";
@import "main/_story-about.scss";
@import "main/_service.scss";
@import "main/_design.scss";
@import "main/_we-do.scss";
@import "main/_meet.scss";
