@import "_zero";
// $ 400, 700 font-family: 'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
// $ 300 400 font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
// $ 400 font-family: 'Kaushan Script', cursive;
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
// $  Независимые классы
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.line-red {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-cnt {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
// $ Миксины и шаблоны
// ! Сборка всех файлов
@import "main/_welcome.scss";
@import "main/_story-about.scss";
