.we-do {
    padding-top: 60px;
    &__body {
        @extend %body;
        max-width: 950px;
    }

    &__sup-title {
        @extend %sup-title;
    }

    &__title {
        @extend %title;
    }

    &__line {
    }

    &__sub-text {
        @extend %sub-text;
    }

    &__about-skils {
    }

    &__row {
        margin: 0 50px;
        & img {
            max-height: 100%;
        }
    }

    &__tabs {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        margin: 15px 0 15px 50px;
    }
    &__tabs-row {
    }
    &__body {
        flex: 1 1 33.333%;
    }

    &__head {
        height: 60px;
        border: 1px solid #e5e5e5;
        padding: 0 10px;
    }
    &__head span.flex-sb::before {
        content: url("../image/icon/we-do/icons1.png");
        margin-right: 20px;
    }
    &__head-title {
    }
    &__arrown-down {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    &__arrown-down span:nth-child(1),
    &__arrown-down span:nth-child(2),
    &__arrown-down span:nth-child(3),
    &__arrown-down span:nth-child(4) {
        display: block;
        width: 25px;
        height: 2.5px;
        background-color: #ccc;
    }
    &__head span {
        @extend .mini-title;
        margin-top: 10px;
    }
    &__text {
        display: none;
        @extend .transparent-small-text;
        font-style: italic;
        padding: 20px;
        text-align: left;
    }
    &__text:target {
        display: block;
    }
}
